<div>
	<span class="icon material-icons md-light md-36" style="color: {{ color }}">{{ icon }}</span>
	<div>
		<h3>{{ title }}</h3>
		<p>{{ message }}</p>
	</div>
	<span class="close_button material-icons md-light md-18" onclick="document.getElementById('notification').style.opacity = 0">close</span>
</div>